.page-footer {
  background: #414042;
  padding: 4rem 0 0;
  color: #fff;
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

#footer-form {
  padding: 0;
  background: #ffffff;
  background-size: contain;
  height: 0.2rem;
}

footer .title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #39ac9b;
}

footer ul {
  padding: 0;
  margin-bottom: 2.5rem;
  list-style-type: none;
}

footer .contact i {
  font-size: 20px;
  margin-right: 1rem;
  color: #39ac9b;
}

footer ul li a {
  color: #ccc;
  font-size: 1rem;
  font-weight: 300;
}

footer .social a {
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: #ccc;
  display: inline-block;
  font-size: 20px;
  margin-right: 1rem;
}

footer .social a:hover {
  color: #39ac9b;
}

.footer-copyright {
  text-align: center;
  margin-top: 3rem;
  font-size: 13px;
  background: #4e4e4e !important;
  padding: 1rem;
  color: #ccc;
}
