.card .card-content .card-title {
  font-weight: 400;
  color: black;
  margin-left: 1rem;
  /* text-align: center; */
}

span,
li {
  color: black;
}

ul {
  list-style: none;
  margin-left: 1rem;
}

.row {
  margin-bottom: 0px;
}

.input-field .prefix {
  color: black;
  /* font-size: 1.25rem;
  top: 1.25rem;
  left: 1.75rem; */
}

.file-field {
  margin-left: 1rem;
}
.input-field .helper-text {
  min-height: 0rem;
}

/*Datetime picker*/
tbody {
  color: black;
}

#nextButton,
#previousButton,
#submitButton {
  margin-top: 2rem;
}

#agreementBox {
  margin-left: 0.25rem;
}
